body{
    color:rgb(177, 177, 177);
    backgroun:cadetblue;
    margin:0px;
}

header{
    border-bottom: solid 2px rgb(177, 177, 177);
    padding: 20px;
    font-size: 32px;
    color:rgb(177, 177, 177);
}